snippet ns "namespace" !b
namespace${1: name} {
${2:// Code}
}  // namespace$1
endsnippet

snippet if "C-style if-block" !b
if (${1:condition}) {
  ${2:// Code}
}
endsnippet

snippet eif "C-style else if block" !
else if (${1:condition}) {
  ${2:// Code}
}
endsnippet

snippet el "C-style else block" !
else {
  ${1:// Code}
}
endsnippet
